/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
	margin:0px;
	background-color: white;
	padding:10px;
}

div.TagsEditor {
	width:100%;
	height:100%;
	position:relative;
}

div.TagsEditor div.logoCloseButton {
	background-image: url('img/lmf_icon_60x60px_trans.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	position:absolute;
	bottom:0px;
	right:0px;
	width:60px;
	height:60px;
}
body.inIframe div.TagsEditor div.logoCloseButton {
	cursor:pointer;
}
body.collapsed div.TagsEditor div.logoCloseButton {
	display:none;
}

/**
 * TagsEditor
 */
div.tagsContainer {
	min-height:20px;
}
div.tagsContainer p.notags {
	color:gray;
	margin:0;
	display:none;
}
div.tagsContainer.notags p.notags {
	display:block;
}
div.tagsContainer div.tag {
	float:left;
	margin-right:10px;
}

div.tagsContainer div.tag.controlled {
	color:#CC0000;
}

div.tagsContainer div.tag span.delete {
	background-image:url(img/delete.gif);
	cursor:pointer;
	display:inline-block;
	height:8px;
	position:relative;
	top:-6px;
	width:8px;
}

div.input {
	clear:both;
}

/**
 * Hierarchy Browser
 */
div.suggestionsContainer {
	border:1px solid #BBBBBB;
	width:153px;
}

div.suggestionsContainer p.tag {
	padding:0px;
	margin:0px;
	position:relative;
	padding-left:25px;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
}

div.suggestionsContainer p.tag:hover {
	background-color: #EEEEEE;
}

div.suggestionsContainer p.tag span.up {
	position:absolute;
	left:0px;
	top:0px;
	background-image: url(img/left_arrow.png);
	display:block;
	width:15px;
	height:15px;
	cursor:pointer;
}

div.suggestionsContainer p.tag span.down {
	position:absolute;
	right:0px;
	top:0px;
	background-image: url(img/right_arrow.png);
	display:block;
	width:15px;
	height:15px;
	cursor:pointer;
}
