
<div class="dialog-header">

    LMF Configuration

</div>

<div class="dialog-body" id="lmf-configuration">

  <form>

      <table>
        <tr>
          <th>
      	    <label for="lmf-uri">URI:</label>
      	  </th>
      	  <td>
      	    <input type="text" name="lmf-uri" id="lmf-uri" />
      	  </td>
      	</tr>
        <tr>
          <th>
      	    <label for="lmf-user">Username:</label>
      	  </th>
      	  <td>
      	    <input type="text" name="lmf-user" id="lmf-user" />
      	  </td>
      	</tr>
        <tr>
          <th>
      	    <label for="lmf-pass">Password:</label>
      	  </th>
      	  <td>
      	    <input type="password" name="lmf-pass" id="lmf-pass" />
      	  </td>
      	</tr>
        <tr>
          <th>
            <label for="lmf-context">Named graph:</label>
          </th>
          <td>
            <input type="text" name="lmf-context" id="lmf-context" />
          </td>
        </tr>
        <tr>
          <th>
            <label for="lmf-reset">Clean before save:</label>
          </th>
          <td>
            <input type="checkbox" name="lmf-reset" id="lmf-reset" />
          </td>
        </tr>      	
      </table>

  </form>

</div>

<div class="dialog-footer">

    <button class="button" id="cancel">Cancel</button>

    <button class="button" id="save">Save</button>

</div>

