
body, html, div#header div#refine-tabs-facets {
    background-color: #333;
}

div#header > div#project-title {
    left: 320px;
}

a, a:active, a:visited {
    color: #CB1180;
}

a:hover {
    text-decoration: underline;
}

a.button, div#left-panel a.button {
    color: black;
    text-decoration: none;
}

div#project-title {
    left: 250px;
}

span#project-name-button {
    background-color: #FFF;
    border: 1px solid #CB1180;
}

a#project-permalink-button, a#project-permalink-button:active, a#project-permalink-button:visited {
    color: #CB1180;
}

/*
a#project-permalink-button:hover {
    color: #FFF;
    background-color: #CB1180;
    text-decoration: none;
}
*/

div#left-panel {
    background-color: #CCC;
}

div#left-panel a, div#left-panel a:active, div#left-panel a:visited {
    color: #CB1180;
}

.ui-tabs, .refine-tabs, .ui-tabs .ui-tabs-nav .ui-state-active, .ui-tabs .ui-tabs-nav .ui-widget-content .ui-state-active, .ui-tabs .ui-tabs-panel {
    border-color: #333;
}

div.browsing-panel-help, div.history-panel-help {
    background-color: #CCC;
    border-color: #333;
}

div.history-panel-filter {
    background-color: #333;
    color: #FFF;
    border-color: #CB1180;
    margin-bottom: 2em;
}

div.history-panel-body {
    background-color: #CCC;
}

div#left-panel a.history-entry:hover {
    text-decoration: none;
}

div#left-panel span.history-entry-index {
    color: #FFFFFF;
}

div#left-panel div.history-now {
    background-color: #666;
    color: #FFF;
    font-weight: bold;
}

div#left-panel div.history-now span.history-entry-index, div#left-panel div.history-now a.history-entry {
    color: #FFF;
}

div#left-panel div.history-highlight {
    background-color: #CCC;
}

div.browsing-panel-help a, div.browsing-panel-help a:active, div.browsing-panel-help a:visited, div.history-panel-help a, div.history-panel-help a:active, div.history-panel-help a:visited {
    color: #333;
}

div#tool-panel {
    background-color: #666;
    color: #FFF;
}

div#right-panel  {
    background-color: #666;
}

div.rdf-scheme-dialog-subheader  {
    background-color: #CCC;
}

div.data-header-table-container {
    background-color: #CCC;
    border-top-color: #333;
    border-bottom-color: #333;
}

span.data-table-value-nonstring {
    color: #CB1180;
}

div.dialog-header {
    background-color: #666;
    color: #FFF;
}

div.dialog-footer {
    text-align: right;
}

div.dialog-body p {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

div.dialog-body img.validation {
	margin-left: 0.5em;
}

div#stanbol-configuration {
	background-image: url(../images/stanbol.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.dialog-body table tr th {
    text-align: right;
    padding-right: 0.8em;
}

div.dialog-body input[type=text], div.dialog-body input[type=password] {
    width: 300px;
    padding: 3px;
    font-size: 1em;
    font-family: inherit;
    border: #CCC 1px solid;
    border-top: #888 1px solid;
    vertical-align: baseline;
}

div.dialog-body input[type=checkbox] {
    padding: 3px;
    margin-left: 12px;
    font-size: 1em;
    font-family: inherit;
    border: #CCC 1px solid;
    border-top: #888 1px solid;
    vertical-align: baseline;	
} 

div.dialog-body input[type=text].error {
	border: solid 1px red;
}

.data-table-cell-editor, .data-table-topic-popup {
    border-color: #333;
    background: #CCC;
}

a.add-prefix-box, 
a.manage-vocabularies-box, 
a.action,
div#rdf-schema-alignment-tabs a,
div#rdf-schema-alignment-body-footer a {
    color: #CB1180 !important;
}

div#rdf-schema-alignment-tabs li.ui-state-active a {
	color: #FFFFFF !important;
}

fieldset.rdf-reconcile-fieldset {
    border-color: #CB1180;
}

fieldset.rdf-reconcile-fieldset legend {
    margin-left: 1em;
    padding: 0.5em;
    background-color: #CB1180;
    color: #FFF;
}

table.data-table > tbody > tr.odd:hover > td,
table.data-table > tbody > tr.even:hover > td {
	background-color: #2c2d33;
	color: #FFF;
}

table.data-table > tbody > tr:hover > td > div.data-table-cell-content,
table.data-table > tbody > tr:hover > td > div.data-table-value-nonstring,
table.data-table > tbody > tr:hover > td > div.data-table-cell-content > a,
table.data-table > tbody > tr:hover > td > div.data-table-cell-content > span.data-table-value-nonstring {
    color: #FFF;
}

table.data-table > tbody > tr:hover > td > div.data-table-cell-content > a.data-table-recon-action {
    color: #4272DB;
}

/*
table.data-table > tbody > tr:hover > td > div.data-table-cell-content > a.data-table-cell-edit {
    position: absolute;
    top: 20px;
    right: 5px;
}
*/

/* CSS NEW STYLES */

div.data-header-table-container {
    background-color: #ccc;
    border-right: 1px dotted #666666;
    border-top: 3px solid #666666;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #D3D3D3;
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
    background: linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}


table.data-table > tbody > tr.odd > td {
    background: -moz-linear-gradient(100% 25% 90deg, #F6F6F6, #F1F1F1) repeat scroll 0 0 transparent;
    height:30px;
}

table.data-table > tbody > tr.even > td {
    background: -moz-linear-gradient(100% 25% 90deg, #F6F6F6, #F1F1F1) repeat scroll 0 0 transparent;
}
    height:30px;
}

table.data-table !important {
    border: 1px solid #D3D3D3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


body, html, div#header div#refine-tabs-facets {
    background: #BBCAE1; /* Old browsers */
}

div#left-panel a, div#left-panel a:active, div#left-panel a:visited {
    color: #DDDDCC;
}

li.ui-state-default a !important{
    color: #000;
}



a.add-prefix-box, a.manage-vocabularies-box, a.action, div#rdf-schema-alignment-tabs a, div#rdf-schema-alignment-body-footer a {
    color: #195073 !important;
}

a#project-permalink-button, a#project-permalink-button:active, a#project-permalink-button:visited {
    color: #FFFFFF;
}

div#tool-panel {
    background-color: #79889C;
    color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)

}
div#left-panel {
    background-color: #79889C;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: #172131; /* Old browsers */

    border-radius: 5px 5px 0 0;
    border-color: #7F8C1F;
    border-bottom:none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.ui-tabs .ui-tabs-nav li a span.count {
    color: #fff;
}
div#right-panel {
    background: #BBCAE1;
}

#refine-tabs-facets {
      background:#172131;
}
#refine-tabs-history  {
    background: #172131;
}

.history-past {
    background: #172131;
}
a.history-entry {
    border-bottom: 1px dottet #172131;
}

div.history-panel-filter {
    border-color: #172131;
    background: #CCCCCC;
    color: #332233;
    text-shadow: 1px 1px 0 #FFFFFF;
    margin-left:5px;margin-right:5px;
    border-radius: 6px 6px 6px 6px;

}

div.history-panel-controls {

}
input {

    -moz-transition: all 0.2s linear 0s;
    border: 1px solid #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
}

span#project-name-button {
    background: none repeat scroll 0 0 #DDDDCC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    margin-right: 2px;
    overflow: visible;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: auto;
    margin-bottom:5px;
    border: #DDDDCC;
}

div#left-panel div.history-now {
    background:  #172131;
}

.data-header-table td {
    border-bottom: 1px dotted #fff;
    border-right: 1px solid #fff;
}

div.column-header-title {
	width: auto;
}

span.column-header-name {
    color: #332233;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 64px;
    text-transform: uppercase;
    font-weight: bold;
}

tbody > tr {
     line-height: 15px;
}
a.column-header-menu {
    float:right;
}

.menu-container {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid rgba(194, 194, 194, 0.8);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;

}

a.button, div#left-panel a.button  {
    background: #DDDDCC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    overflow: visible;
    padding: 5px 10px 6px;
    margin-right:2px;
    position: relative;
    text-decoration: none;
    width: auto;
    text-shadow: 1px 1px 0 #FFFFFF;

}
a.menu-item:hover, a.menu-item.menu-expanded {
    background: #82d344; /* Old browsers */
    background: -moz-linear-gradient(top,  #82d344 0%, #51af34 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#51af34)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #82d344 0%,#51af34 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #82d344 0%,#51af34 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #82d344 0%,#51af34 100%); /* IE10+ */
    background: linear-gradient(top,  #82d344 0%,#51af34 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82d344', endColorstr='#51af34',GradientType=0 ); /* IE6-9 */
}

span.data-table-value-nonstring {
    color: #195073;
}

div.registering {
    border: 1px solid #F8DCBB;
    margin: 1em;
    padding: 1em;
    background-color: #F8F8F8;
    font-size: 90%;
    overflow: auto;
}

div.registering dl dd {
	margin-left: 2em;
}
