/**
 * Copyright (c) 2013 Salzburg Research
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

p#rawrdf {
	text-align: right;
	font-size: 0.90em;
    margin: 2em 1em 2em auto;
}

div#top_serialisation_links {
    float: right;
    margin-right: 5px;
    margin-top: 61px;
}

div#top_serialisation_links a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

#table_buttons {
    margin-bottom: 10px;
}

@import "blue.css";
