/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body.demo {
    background-color: #666666;
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #333333;
}
body.demo #page_wrap {
    margin: 0 auto;
    max-width: 1200px;
}
body.demo #page {
    background-color: #fefefe;
    border: 2px solid #333333;
    padding: 10px;
    box-shadow: 0 5px 5px 5px #333333;
}
body.demo #toc, body.demo #content {
    margin-top: 20px;
}
body.demo #toc > :FIRST-CHILD, body.demo #content.demo > :FIRST-CHILD {
    margin-top: 0;
}

body.demo #toc {
    display: inline-block;
    float: left;
    width: 270px;
}
body.demo #content {
    margin-left: 290px;
}
body.demo #page #head h1 {
    margin: 5px 0;
}
.section {
    display: inline-block;
    width: 100%;
}
.section img {
    border: 0 none;
    float: left;
    margin: 5px;
}
.section img.right {
    float: right;
}
#center .demo_step, .demo_step {
    border: 2px solid #00007F;
    border-radius: 5px 5px 5px 5px;
    color: #00007F;
    font-weight: bold;
    padding: 3px;
    text-decoration: none;
}
.demo_step.locked {
    border-color: #808080;
    color: #808080;
}
.demo_step.done, 
.demo_step.done.current,
.demo_step.current {
    background-attachment: scroll;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 1px center;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 20px;
}
.demo_step.current {
    background-image: url("../img/step_current.png");
}
.demo_step.done, 
.demo_step.done.current {
    background-image: url("../img/step_done.png");
}
body.demo span.loader {
    background: url("../img/loader.gif") no-repeat scroll center center transparent;
    display: inline-block;
    height: 18px;
    margin: 0 5px 0 0;
    width: 18px;
}
body.demo .action p {
    font-style: italic;
}
body.demo #toc ol {
    list-style: none outside none;
}
body.demo #toc li {
    margin: 2px;
}
body.demo #toc li > a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
body.demo #toc ol {
    padding: 0;
}
body.demo #content a[href^="http://"], body.demo #content a[href^="https://"] {
    background: url(../../core/public/img/link.png) no-repeat right center scroll transparent;
    padding-right: 12px;
}
body.demo .pre, body.demo pre {
    border: 1px dashed silver;
    max-height: 20em;
    overflow: auto;
    padding: 0.5em;
    font-family: monospace;
}
body.demo .error {
    border: 3px solid red;
    border-radius: 5px 5px 5px 5px;
    font-size: 120%;
    padding: 5px;
    font-weight: bold;
    background-color: #FFBBBB;
}
body.demo #next {
    display: none;
}
body.demo iframe {
    border: 0 none;
}
